<!DOCTYPE html>
<html>
<head>
	<title>Buy Page</title>
</head>
<body>
	<center>
		

		<form action="post">
			
				Name: <input type="text" readonly name="name" value="<%= user.name %>">  <br><br>
				Select Quantity: <input type="text" readonly name="aquantity" value="<%= user.quantity %>"><br><br>
				Select Quantity: <input type="text" name="quantity"><br><br>
				Select Payment Method: <input type="radio" name="purchase" value="Cash On Delivery">Cash On Delivery&emsp;&emsp;<input type="radio" name="purchase" value="Cash On Delivery">bKash <br><br>
				
				<input type="submit" name="cart" value="Purchase"><br><br>
				<a href="/home/emp"> Back</a> |
				<a href="/logout"> Logout</a><br>

		</form>
	</center>
</body>
</html>